QWidget#innic
{
	background-color: #052321;
	color: #ADD45A;
	font: Times New Roman;
	font-weight; bold;
}

QPushButton#cae
{
	background-color: #042c18;
	color: #dbf45c;
	border: 2px solid black;
	font: Helvetica;
	font-weight: bold;
}

QPushButton#cae:hover
{
	color: black;
	background-color: green;
	border: 4px solid black;
}
