QWidget#Menu
{
	background-color: #052321;
	border: 3px solid black;
}

QLabel#innic
{
	background-color: #052321;
	color: #ADD45A;
	font: Times New Roman;
	font-weight; bold;
	font-size: 40px;
}

QPushButton#FirstBtt
{
	background-color: #042c18;
	color: #dbf45c;
	border: 2px solid black;
	font: Helvetica;
	font-size: 20px;
}

QPushButton#FirstBtt:hover
{
	background-color: #ADD45A;
	color: black;
	border: 4px solid black;
}
